# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# IDE 관련
*.iml
.idea/
*.classpath
*.project
*.settings/

# OS 관련
.DS_Store
Thumbs.db

# 로그 파일
*.log
